<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h1><%= @artist.name %></h1>

            <% @artist.songs.each do |song| %>
            <div class="well well-sm">
            <% if song.artist.avatar.exists? != nil %>
            <%= image_tag song.artist.avatar.url(:thumb) %>
            <% end %>
            </div>

            <h3><%= link_to song.name, song %></a></h3>
        <% end %>
    </div>
</div>
</div>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
