<p id="notice"><%= notice %></p>

<% @blog_post.comments.each do |comment| %>
	<div class="panel_body">
		<p><strong><%=comment.user.email %></strong> said: </p>
		<p><%= comment.comment_entry %></p>
		<p><span class="posted-at"><%= comment.created_at.strftime('%D  %r  %Z')%></span></p>
	</div>
<% end %>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
