
<body>

<h1>Practicing creating a Traveling Website</h1>
<p>So many places to visit and need to set an agenda where to go first!</p>



<!--<p>My favorite color is <%= @color %>.</p>-->


<!--<p><strong> You can change the screen color by clicking on the buttons below.</strong></p>-->

<!--    <%= link_to "Blue", {controller: "welcome", action: "about", color: "Blue"}, class: "btn btn-primary" %>-->

<!--    <%= link_to "Chartreuse", {controller: "welcome", action: "about", color: "Chartreuse"}, class: "btn btn-success", id: "chartreuse" %>-->
<!--   We created a specific color by naming it in the application.css and use that specific name with an "id:" -->

<!--    <%= link_to "Red", {controller: "welcome", action: "about", color: "red"}, class: "btn btn-danger" %>-->

<!--    <%= link_to "Orange", {controller: "welcome", action: "about", color: "Orange"}, class: "btn btn-warning" %>-->
</body>
